{% include 'bootstrap/base.html'%}

<div class="row">
   <div class="col-md-6">
      {% if current_user.is_authenticated %}
      <ul class="list-unstyled">
         <li class="nav-item list-unstyled active"><a class="nav-link"  href="{{url_for('auth.logout')}}">Sign out Customer</a></li>
         {% else %}
         <!-- <li class="nav-item list-unstyled active"><a class="nav-link" href="{#{{url_for('auth.login')}}#}">Sign in Customer</a></li> --> 
         <li class="nav-item my-5 list-unstyled active"><button class="btn btn-lg btn-dark" ><a class="text-light" href="{{url_for('auth.login')}}">Sign in Customer</a> </button></li>
         {%endif%}
      </ul>
   </div>
   <div class="col-md-6">
      <ul class="navbar-nav d-inline ml-auto">
         {% if current_user.is_authenticated %}
       
         <li class="nav-item list-unstyled active"><a class="nav-link"  href="{{url_for('auth.logoutOwner')}}">Sign out Owner</a></li>
         {% else %}
         <li class="nav-item my-5 list-unstyled active"><button class="btn btn-lg btn-secondary"><a href="{{url_for('auth.loginOwner')}}">Sign in Owner</a></button></li>
         {%endif%}
       </ul>
   </div>
</div>
