{% extends 'base.html'%} 
{% import 'macros.html' as macro%}
<!-- Content block -->

{% block content %}

<div class="container" style="font-size: 2rem" id="particles-js">
  <ul class="nav nav-pills nav-justified nav-fill mt-5" role="tablist">
    <li class="nav-item">
      <a id="cats" class="nav-link" data-toggle="tab" href="#all"
        ><strong>All Meals</strong>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cats" data-toggle="tab" href="#breakfast"
        >BreakFast</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cats" data-toggle="tab" href="#lunch"
        >Lunch</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cats" data-toggle="tab" href="#dinner"
        >Dinner</a
      >
    </li>
  </ul>
  <div class="tab-content">
    <div class="container tab-pane active" id="all">
      <br />
      {{ macro.display(uploads) }}
    </div>
    <div class="container tab-pane" id="breakfast">
      <br />
      {{ macro.display(breakfast)}}
    </div>
    <div class="container tab-pane" id="lunch">
      <br />
      {{ macro.display(lunch) }}
    </div>
    <div class="container tab-pane" id="dinner">
      <br />
      {{ macro.display(dinner) }}
    </div>
  </div>
</div>

{% endblock%}
