<nav class="mb-5 navbar navbar-expand-lg navbar-dark navbarbg text-dark">
  <a class="navbar-brand px-4 ml-5" href="/"><strong>ForkFull</strong> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4"> 
      <ul class="navbar-nav ml-auto">
            <li class="list-unstyled">
              <a class="nav-link text-white" style="font-size:18px" href="{{url_for('main.new_upload')}}">Upload</a>
            </li>
            <li class="list-unstyled">
              <a class="nav-link text-white" style="font-size:18px" href="{{url_for('main.add_cart')}}">Checkout</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link mr-5" href="/" ><i class="fas fa-sign-in-alt"></i>&nbsp; <strong>Log In</strong></a>
            </li>
      </ul>
  </div>
</nav> 